@use "theme/mixins" as *;
@use "theme/variables" as *;

.navs {

  &.navs--desktop {
    display: flex;

    a {
      margin: 0 0 0 18px;
    }

    a:first-of-type {
      flex: 1;
      margin-left: 0;
    }
  }
}
