@use "theme/variables" as *;

/*
------------------------------------------------------------------------
body
------------------------------------------------------------------------
*/
body {
  font-family: $robotoLight;
}

/*
------------------------------------------------------------------------
footer
------------------------------------------------------------------------
*/
footer {
  background-color: $mediumGray;
  padding: 30px 0;
}

/*
------------------------------------------------------------------------
header
------------------------------------------------------------------------
*/
header {
  background-color: $lightGray;
  padding: 30px 0;
}

/*
------------------------------------------------------------------------
headings
------------------------------------------------------------------------
*/
h1,
h2,
h3 {
  font-family: $robotoCondensedRegular;
}

/*
------------------------------------------------------------------------
main
------------------------------------------------------------------------
*/
main {
  flex: 1;
  padding: 30px 0;
}
