/*
------------------------------------------------------------------------
Colors
------------------------------------------------------------------------
*/
$active: #dc143c;
$black:	#000000;
$lightGray: #cccccc;
$mediumGray: #888888;
$white:	#ffffff;

/*
------------------------------------------------------------------------
Fonts
------------------------------------------------------------------------
*/
$robotoLight: roboto-light, sans-serif;
$robotoCondensedRegular: roboto-condensed-regular, sans-serif;

/*
------------------------------------------------------------------------
Inner Wrap
------------------------------------------------------------------------
*/
$innerWrapWidth: 90%;
$innerWrapSide: calc((100% - $innerWrapWidth) / 2);
