/*
------------------------------------------------------------------------
Colors
------------------------------------------------------------------------
*/
$black:	#000000;
$lightGray: #cccccc;
$mediumGray: #888888;
$white:	#ffffff;

/*
------------------------------------------------------------------------
Fonts
------------------------------------------------------------------------
*/
$robotoLight: roboto-light, sans-serif;
$robotoCondensedRegular: roboto-condensed-regular, sans-serif;
