@use "theme/variables" as *;

.navs {

  &.navs--mobile {
    position: relative;

    div {
      display: flex;
      flex-direction: column;
      padding: 20px $innerWrapSide 0 0;
      position: fixed;
      right: 0;
      text-align: right;
      top: 79px; // [1]
      width: 60%;
      z-index: 2147483645;

      &::after {
        background-color: #555;
        content: "";
        height: 1px;
        position: absolute;
        opacity: 0.4;
        right: 0;
        top: 2px; // [2]
        width: 100%;
      }

      &::before {
        background: linear-gradient(270deg, $white 50%, rgba(255, 255, 255, 0.8) 100%);
        content: "";
        height: 200vh;
        position: absolute;
        right: 0;
        top: -200%;
        width: 100%;
        z-index: -1;
      }

      a {
        margin: 8px 0;
      }
    }
  }
}

/*
NOTES
  [1] FRAGILE
      This depends on height of `<header>`.
  [2] FRAGILE
      We would expect this to be 0 in order to line up with the bottom
      of `<header>` so we're not sure what else is affecting this.
*/
